body {
    margin: 0;
}

.menu {
    background-color: #c4ac42;
    color: white;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu li {
    width: 400px;
    display: flex;
    justify-content: center;
}

.navbar input{
    border: black ;
    height: 40px;
    width: 190px;
    border-radius: 15px;
}

.banner {
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.banner a {
    width: 100%;
}

.principal {
    width: calc(60% - 20px);
    background-image: url(imagens/Pickup-Nissan-GT-R-inspirada-nos-Hakotoras-02-1-e1681217567680-696x391.jpg);
    background-size: 100% 100%;
    border-radius: 3%;
}

.secundaria {
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img1 {
    background-image: url(imagens/VW-Fusca-Ducktail-Cabrio-mistura-Widebody-com-JDM-01-e1655303809394-696x424.jpg);
    height: calc(50% - 10px);
    background-size:100% 100%;
    border-radius: 3%;
}

.img2 {
    background-image: url(imagens/Conheca-a-moto-BMX-com-motor-Ducati-01-696x464.jpg);
    height: calc(50% - 10px);
    background-size: 100% 100%;
    border-radius: 3%;
}

.materia {
    list-style-type: none;
    padding: 0;
    margin: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}


.materia a {
    display: flex;
    border-radius: 3%;
    width: 100%;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    gap: 15px;
}

.noticia img {
    border-radius: 5%;
}